nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

*{
    background-color: #faf6f6;
}

h1{
    font-size: 50px;
    margin: 20px;
}

h2{
    background-color: #d2f8f8;
    color: rgb(7, 0, 0);
    margin: 20px;
    padding: 10px;
}

nav{
    margin: 20px; 
    padding: 5px;

}

nav a {
    display: inline-block;
    padding: 10px 16px;
    background-color: #334b4b;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

section {
    padding: 20px;
    margin: 20px auto 0;
    max-width: 900px;
}

.site-footer {
    background-color: #2f3f3f;
    color: #080808;
    text-align: center;
    padding: 20px 16px;
    margin-top: 0px;
    border-top: 1px solid rgb(0, 0, 0, 0, 0.8);
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
}

.footer-content h3{
    margin: 6px 0;
    font-size: 0.95rem;
}